@media only screen and (min-width: 1001px) {
    .preview-account-username,
    .preview-account-displayname {
      font-size: 28px
    }
    .account-img {
        width: 150px;
        height: 150px;
        margin-left: 80px;
    }
}
@media only screen and (max-width: 1000px) {
    .preview-account-username,
    .preview-account-displayname {
        font-size: 24px
    }
    .account-img {
        width: 120px;
        height: 120px;
        margin-left: 50px;
    }
}

@media only screen and (min-width: 501px) {
    .preview-container {
        flex-direction: row;
    }
    .preview-account-social-item {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .preview-container {
        flex-direction: column;
        align-items: center;
    }
    .preview-account-details-container {
        justify-content: center;
    }
    .preview-account-social-container {
        align-items: center;
        justify-content: center;
    }
    .preview-account-social-item {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.preview-email-input {
    margin-top: 15px;
    height: 40px;
    width: 100%;
    padding: 0 15px 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.preview-container {
    display: flex;
    justify-content: center;
}

.account-img {
    border-radius: 80px;
}

.preview-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preview-account-details-container {
    display: flex;
    flex-direction: row;
}
.preview-account-username {
    cursor: pointer;
    text-decoration: none;
    margin-left: 30px;
    color: #3897f0;
    font-family: 'Open Sans';
}
.preview-account-displayname {
    color: #262626;
    font-weight: bold;
}

.preview-account-social-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.preview-check-account-button {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content:
    center;
    margin-top: 20px;
    font-size: 20px;
    border: 1px solid #3897f0;
    color: #3897f0;
    padding: 5px;
}