@media only screen and (min-width: 751px) {
    .search-header-text {
        font-size: 30px;
    }
}
@media only screen and (max-width: 750px) and (min-width: 401px) {
    .search-header-text {
        font-size: 24px;
    }
}
@media only screen and (max-width: 400px) {
    .search-header-text {
        font-size: 17px;
    }
}

.search-header-text {
    font-weight: 100;
    max-width: 600px;
    margin-top: 0;
}

.home-preview-report-conatiner {
    display: none;
    align-items: initial;
}

.home-preview-report-img {
    width: 30%;
    min-width: 200px;
    cursor: pointer;
}

.home-search-search-and-preview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.search-box-container {
    max-width: 530px;
}

.home-preview-report-url {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.home-preview-report-url a {
    color: #3897f0;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
}

@media only screen and (min-width: 451px) {
    .home-preview-report-url {
        display: none;
    }
    .home-preview-report-conatiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 1001px) {
    .home-search-search-and-preview-container {
        flex-direction: row;
    }
}