.faqs-qa-customers-customer-container {
    margin-bottom: 20px;
}

.faqs-qa-customers-customer-details {
    margin-top: 5px;
    margin-right: 20px;
}

.faqs-qa-customers-customer-title {
    font-style: italic;
}

.faq-page-top-margin {
    margin-top: 15px;
}